.person-logo {
  /* width: 50px;
  height: 50px; */
  border-radius: 0.75rem;
}

.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}

.ant-layout-header p {
  line-height: 10px;
  font-size: 13px;
}