# base
.vscode
.todo
.DS_Store

# admin
admin/node_modules
admin/package-lock.json
admin/yarn.lock
admin/.env
admin/node_modules
admin/.pnp
admin/.pnp.js
admin/coverage
admin/build
admin/.DS_Store
admin/.env.local
admin/.env.development.local
admin/.env.test.local
admin/.env.production.local
admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*
admin/dist

# server
server/node_modules
server/yarn.lock
server/package-lock.json
server/.env
server/config/.env
server/uploads/
server/public

# client-mobile
client-mobile/.expo
client-mobile/node_modules
client-mobile/package-lock.json
client-mobile/yarn.lock
client-mobile/.env
client-mobile/node_modules
client-mobile/.pnp
client-mobile/.pnp.js
client-mobile/coverage
client-mobile/build
client-mobile/.DS_Store
client-mobile/.env.local
client-mobile/.env.development.local
client-mobile/.env.test.local
client-mobile/.env.production.local
client-mobile/npm-debug.log*
client-mobile/yarn-debug.log*
client-mobile/yarn-error.log*
client-web-v2/dist

# client-web
client-web/node_modules
client-web/package-lock.json
client-web/yarn.lock
client-web/.env
client-web/node_modules
client-web/.pnp
client-web/.pnp.js
client-web/coverage
client-web/build
client-web/.DS_Store
client-web/.env.local
client-web/.env.development.local
client-web/.env.test.local
client-web/.env.production.local
client-web/npm-debug.log*
client-web/yarn-debug.log*
client-web/yarn-error.log*
client-web/dist

# client-server
client-server/node_modules
client-server/yarn.lock
client-server/package-lock.json
client-server/.env
client-server/config/.env
client-server/uploads/
client-server/public