.forgot-password-wrapper{
  display: flex;
  align-items: center;
}

.forgot-password-card {
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  width: 60%;
}

.forgot-password-card p {
  font-weight: 300;
  color: gray;
}