.header-top-strip {
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-black);
}

.header-upper {
  background-color: var(--color-black);
}

.input-group-text {
  min-height: max-content;
}

.header-upper .input-group-text {
  background-color: var(--color-orange);
}


.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}