* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #131921;
  --color-gray: #3B4149;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

@import url(header.css);