.section-card {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 30px;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-head h4 {
  font-size: 18px;
  color: #1c1c1b;
}

.review-head p {
  font-size: 14px;
  color: #777777;
}

.comments .customer-name {
  font-size: 15px;
  font-weight: bold;
}

.dividor {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.main-product-image {
  background-color: white;
  border-radius: 10px;
}

.primary-image {
  width: 60%;
  height: 60%;
}

.secondary-product-images {
  width: 17%;
  height: 17%;
  margin-top: 15px;
  margin-left: 15px;
}

.product-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.product-detail h5 {
  font-size: 16px;
}